<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>FountainJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.min.js"></script>
  </head>

  <body ng-app="app" ng-controller="FeedController as feed">
    <button ng-click="feed.loadResults()">Load Results</button>
    <table id="results">
      <tbody>
      <tr ng-repeat="i in feed.entries | orderBy:'-'"><td>{{i.activity.object.content}} <span ng-count></span></td></tr>
      </tbody>
    </table>

    <ui-view></ui-view>
  </body>
</html>
