<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>FountainJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">
  </head>

  <body ng-app="app" ng-controller="FeedController as feed">
    <md-card id="usage">
      <md-card-content layout="column">
        <h3>Usage</h3>
        <p>
          This application gets its data from the free tier of the Openweather API. This tier allows approximately
          1 call/second. If a card does not display when 'Load' is clicked, this means you have exceeded the call capacity
          momentarily. Wait another second before loading the next result.
        </p>
      </md-card-content>
    </md-card>
    <md-button class="md-accent md-raised" ng-click="feed.loadResults()">Load</md-button>
    <div id="results">
      <md-card ng-repeat="i in feed.entries | orderBy:'-'">
        <md-card-content>
          <h2 layout="column">
            <span>City: {{i.activity.object.content.data.name}}</span>
            <span>Temperature: {{i.activity.object.content.data.main.temp - 273.15 | number:0}}C</span>
            <span>Weather: {{i.activity.object.content.data.weather[0].main}}</span>
          </h2>
          <span ng-count>0</span>
        </md-card-content>
      </md-card>
    </div>

    <ui-view></ui-view>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
  </body>
</html>
