@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: lightgrey;
}

#results {
  background-color: white;
  padding: 1em;

  tbody tr td {
    padding: .5em;
  }
}
